.fields
  .field
    height 46px
    margin-bottom 7px

    textarea
      height 46px
      width 273px
      margin-right 20px
      padding 5px 15px
      display inline-block
      border-radius: 5px;
      border: 1px solid #ccc;

    button
      width 20px
      height 20px
      border-radius 20px
      border none


.continueBtn
  cursor pointer
  display: inline-block;
  background-color: #fdd835;
  height: 35px;
  width: 211px;
  text-align: center;
  line-height: 33px;
  font-size: 14px;
  text-decoration: none;
  border-radius: 3px;
